.clients {
    @media screen and (max-width: 1169px) {
        padding: 60px 15px;   
    }
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__conteiner {
    @extend %conteiner;
    display: block;
}

.clients__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-text-color;

}
// 
.clients__list {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    flex: 0 0 calc(50% - 10px); /* Два елементи в рядку */
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .clients__item {
        flex-basis: calc(33.33% - 10px); /* Три елементи в рядку */
    }
}

@media screen and (min-width: 1170px) {
    .clients__item {
        flex-basis: calc(25% - 10px); /* Чотири елементи в рядку */
    }
}




// .clients__list {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 auto;
//     margin: -15px;
   
// }
// .clients__item {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 auto;
// }


.clients__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;

//     @media screen and (min-width: 768px) {
//         flex-basis: calc((100% - 2*30px)/2);
//         margin: 15px; 
//         height: 92px;
//      }

//     // width: 170px;
    height: 92px;
    border: 1px solid $main-icon-color;
    border-radius: 4px;
    fill: $main-icon-color;

    transition-property: fill, border-color;
    transition-duration: $effect-time;
    transition-timing-function: $effect-function;
    transition-delay: $effect-time;

}

// .clients__list .clients__item+.clients__item {
//     margin-left: 30px;
// }


.clients__link {

    &:hover, &:focus{
    fill: $accent-color;
    border-color: $accent-color;}

}
