.header {
    @media screen and (min-width: 768px) {

    
   

    padding-top: 0;
    padding-bottom: 0;

    border: 1px solid #ECECEC;
    border-top: none;
    border-left: none;
    border-right: none;
}

}

.header__conteiner {
    @extend %conteiner;
    @media screen and (min-width: 768px) {


        display: flex;
        align-items: center;
        padding-top: 0;
        height: 80px;
        
    }
    position: relative;
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    // display: none;

    background-color:green;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
        display: block;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}
