.portfolio__title {
    @extend %visually-hidden;
}


.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

}

.portfolio__conteiner {
    @extend %conteiner;
    display: block;

}

.portfolio__link {
    text-decoration: none;
    display: block;

}

.portfolio__pic-box {
    position: relative;
    overflow: hidden;

}

.portfolio__overlay {
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;


    letter-spacing: 0.03em;

    color: $main-background-color;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(100%);

    transition-property: transform;
    transition-duration: $effect-time;
    transition-timing-function: $effect-function;
    transition-delay: $effect-time;

    background-color: rgba(33, 150, 243, 0.9);

}

.portfolio__link {

    transition-property: box-shadow;
    transition-duration: $effect-time;
    transition-timing-function: $effect-function;
    transition-delay: $effect-time;

    background-color: rgba(33, 150, 243, 0.9);
}



.portfolio__link:hover .portfolio__overlay {

    transform: translateY(0);
}

.portfolio__link {

    &:hover, &:focus{

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);}
}

.portfolio__btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__btn-list .portfolio__btn-item+.portfolio__btn-item {
    margin-left: 8px;

}

.portfolio__btn {
    padding: 6px 22px;
}

.portfolio__btn--current {
    padding: 6px 25px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.portfolio__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

}

.portfolio__card {
    padding: 20px 24px;
    text-align: left;
    background: $main-background-color;
    border: 1px solid #EEEEEE;
    border-top: none;
    z-index: 2;
}

.portfolio__item:nth-child(3n) {
    margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;


    text-align: center;
    letter-spacing: 0.03em;

    color: $main-text-color;
    background-color: $btn-background-color;
    cursor: pointer;
    border: none;
    border-radius: 4px;


    transition-property: box-shadow, color, background-color;
    transition-duration: $effect-time;
    transition-timing-function: $effect-function;
    transition-delay: $effect-time;

}

.portfolio__btn
{
 &--current, &:hover, &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $main-background-color;
    background-color: $accent-color;}
}

.portfolio__card-title {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $main-text-color;
}

.portfolio__card-text {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.03em;

    color: $second-text-color;
}