ul {
    list-style: none;
    padding: 0 0;
    border: none;
    margin: 0 0;
}

%conteiner {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    // // display: flex;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: 480px) {
        width: 480px;
        }

    @media screen and (min-width: 768px) {
        width: 768px;        
    }

    @media screen and (min-width: 1170px) {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        margin: 0 auto;
    
    }

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0;
}

%visually-hidden {
        
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
    
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
        }
