 $accent-color: #2196F3;
 $main-text-color: #212121;
 $second-text-color: #757575;
 $second-logo-color: #000000;
 $main-background-color: #FFFFFF;
 $second-background-color: #2F303A;
 $active-btn-color: #188CE8;
 $address-text-color: rgba(255, 255, 255, 0.6);
 $btn-background-color: #F5F4FA;
 $bg-portfolio-list-item: #EEEEEE;
 $main-icon-color: #AFB1B8;
 $effect-time: 250ms;
 $effect-function: cubic-bezier(0.4, 0, 0.2, 1);

 $logo-font:"Raleway","sans-serif";
 $main-font: "Roboto", "sans-serif";